
	body
	{
		background-color: skyblue;
	}
	#a1
	{
		font-size: 50px;
		text-transform: uppercase;
		color: darkblue;
		font-style: oblique;
	}

#a3
{
	font-size: 30px;
	text-decoration: none;

}
	a:hover{
		background-color: #FAEBD7;
	}
	





